spring:
  profiles:
    active: develop
  datasource:
    url: jdbc:h2:mem:catfactdb
    username: sa
    password: password
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      web-allow-others: false
  jpa:
    spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
server:
  port: 9001
  error:
    include-stacktrace: never
springdoc:
  packagesToScan: com.example.statnett.demo
  pathsToMatch: /**